* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  /*header*/
  
  .header-background {
    height: 100vh;
    width: 100vw;
    background-image: url("./images/header.jpg");
    background-position: cover;
    background-position: relative;
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
  }
  
  li {
    display: inline;
    padding: 0 15px;
  }
  
  li a {
    text-decoration: none;
    color: black;
  }
  
  button {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  span {
    color: #e21010;
  }
  
  .Hero-header {
    text-align: center;
    font-size: 100px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20%;
  }
  
  .Hero-subheader {
    text-align: center;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    padding-top: 25px;
  }
  
  .rectangle {
    position: relative;
    margin-top: 25px;
    margin-left: 47%;
    height: 5px;
    width: 100px;
    background-color: #060606;
  }
  
  /*Body*/
  
  .rectangle {
    position: relative;
    margin-top: 25px;
    margin-left: 47%;
    height: 5px;
    width: 100px;
    background-color: #060606;
  }
  
  .rectangle2 {
    background-color: #F8F8F8;
    height: 1780px;
    width: 100vw;
  }
  
  .section-header {
    text-align: center;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    padding-top: 45px;
  }
  
  .section-container {
    height: 400px;
    width: 400px;
    padding-left: 90px;
    padding-top: 90px;
    padding-right: 90px;
  }
  
  .card {
    width: 250px;
    height: 376px;
    background-color: #ffffff;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.3);
  }
  
  .in-card {
    width: 100%;
    height: 240px;
  }
  
  .in-card-padding {
    text-align: center;
    padding-top: 10px;
  }
  
  .rectangle-in-card {
    position: relative;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 80px;
    height: 5px;
    width: 100px;
    background-color: #060606;
  }
  
  .card-grid {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    column-gap: 25px;
    width: 70vw;
    padding-left: 300px;
  }
  
  p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .drone5 {
    width: 50vw;
    height: 835px;
    margin-top: 150px;
  }
  
  .card2 {
    width: 50vw;
    height: 835px;
    margin-top: 150px;
    background-color: #ffffff;
  }
  
  h3 {
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 16%;
  }
  
  .rectangle-card2 {
    position: relative;
    margin-top: 25px;
    margin-left: 43%;
    height: 2px;
    width: 100px;
    background-color: #060606;
  }
  
  .p-in-card {
    margin-top: 100px;
    width: 100%;
    line-height: 19.35px;
    size: 16px;
    font-weight: 300;
    font: inter;
  }
  
  .card2-grid {
    display: grid;
    grid-template-columns: auto auto;
    width: 100vw;
    background-color: #F8F8F8;
  }
  
  .card2-container {
    padding-left: 90px;
    padding-right: 90px;
  }
  
  .text-center {
    text-align: center;
  }
  
  h4 {
    margin-top: 40px;
    font-weight: 100;
  }
  
  input[type=text] {
    display: inline;
    border-style: none;
    padding: 10px;
    width: 300px;
    margin-top: 25px;
  }