* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter";
  /* overflow-x: hidden; */
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

/*header*/

.header-background {
  height: 100vh;
  width: 100vw;
  background-image: url("../public/header.jpg");
  background-position: cover;
  background-position: relative;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
}

li {
  display: inline;
  padding: 0 15px;
}

li a {
  text-decoration: none;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

button {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

span {
  color: #CBDEEC;
}

.Hero-header {
  text-align: center;
  font-size: 100px;
  font-weight: 400;
  font-family: "Inter";
  padding-top: 18%;
}

.Hero-subheader {
  text-align: center;
  font-size: 25px;
  font-family: "Inter";
  font-weight: 100;
  padding-top: 45px;
}

button {
  font-weight: 500;
  font-size: 16px;
  color: black;
  text-decoration: none;
  background-color: transparent;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
}

button[type=submit] {
  font-weight: 500;
  font-size: 16px;
  color: black;
  text-decoration: none;
  background-color: transparent;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-top: 25px;
}

.rectangle {
  position: relative;
  margin-top: 50px;
  margin-left: 47%;
  height: 5px;
  width: 100px;
  background-color: #060606;
}

/*Body*/

.rectangle {
  position: relative;
  margin-top: 25px;
  margin-left: 47%;
  height: 5px;
  width: 100px;
  background-color: #060606;
}

.section-header {
  text-align: center;
  font-size: 32px;
  font-family: "Inter";
  font-weight: 100;
  padding-top: 45px;
}

.in-card {
  width: 100%;
  height: 240px;
}

.in-card-padding {
  text-align: center;
  padding-top: 10px;
  width: 5px;
  overflow-wrap: anywhere;
}

.rectangle-in-card {
  position: relative;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-left: 80px;
  height: 5px;
  width: 100px;
  background-color: #060606;
}

.card-box{
  background-color: #F8F8F8;
  height: auto;
  padding-bottom: 25px;
  width: 100vw;
}

.card-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-top: 80px;
  justify-content: space-between;
  padding: 25px;
  position: relative;
  column-gap: 25px;
  justify-content: center;
  width: 80vw;
}

.card {
  width: 250px;
  height: 376px;
  background-color: #ffffff;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.3);
}

p {
  text-align: center;
  font-family: "Inter";
}

.drone5 {
  width: 50vw;
  height: 835px;
  margin-top: 150px;
}

.card2 {
  width: 50vw;
  height: 835px;
  margin-top: 150px;
  background-color: #ffffff;
}

h3 {
  text-align: center;
  font-size: 30px;
  font-weight: 100;
  font-family: "Inter";
  padding-top: 16%;
}

.rectangle-card2 {
  position: relative;
  margin-top: 25px;
  margin-left: 45%;
  height: 2px;
  width: 100px;
  background-color: #060606;
}

.p-in-card {
  margin-top: 100px;
  width: 100%;
  line-height: 19.35px;
  size: 16px;
  font-weight: 300;
  font: inter;
  text-align: justify;
}

.card2-grid {
  display: grid;
  grid-template-columns: auto auto;
  width: 100vw;
  background-color: #F8F8F8;
}

.card2-container {
  padding-left: 140px;
  padding-right: 140px;
}

.text-center {
  text-align: center;
  background-color: #F8F8F8;
  padding: 25px;
}

h4 {
  margin-top: 40px;
  font-weight: 10;
  font-size: 35px;
  font-family: "Inter";
}

input[type=text] {
  display: inline;
  border-style: none;
  padding: 20px;
  width: 500px;
  margin-top: 25px;
}

.p1 {
  margin-top: 10px;
}

button [type=submit] {
  margin-top: 25px;
}

/* Footer */

.footer {
  position: relative;
  background-color: #ffffff;
  height: 110px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.column {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.left p,
.right p {
  margin: 5px 0;
  padding: 0 20px;
}

@media (max-width: 780px) {

  .header-background {
    background-image: url("./header.jpg");
    background-position: cover;
    background-position: relative;
    background-size: auto auto;
    background-repeat: no-repeat;
  }

  nav {
    display: flex;
  }

  .Hero-header {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    font-family: "Inter";
    padding-top: 18%;
  }

  .Hero-subheader {
    text-align: center;
    font-size: 10px;
    font-family: "Inter";
    font-weight: 100;
    padding-top: 25px;
  }

  .rectangle {
    position: relative;
    margin-top: 15px;
    margin-left: 45%;
    height: 5px;
    width: 50px;
    background-color: #060606;
  }

  .rectangle2 {
    background-color: #F8F8F8;
    height: auto;
    padding-bottom: 25px;
    width: 100vw;
  }

  li button[type=button] {
    flex-direction: column;
  }

  li {
    display: inline;
    padding: 0 4px;
  }

  li a {
    text-decoration: none;
    color: black;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .section-container {
    height: 380px;
    padding-left: 20px;
    padding-top: 40px;
    padding-right: 20px;
  }

  .card-grid {
    display: grid;
    grid-template-columns: 250px;
    row-gap: 25px;
    padding-left: 50px;
  }


  .card2-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    width: 100%;
    background-color: #F8F8F8;
    height: auto;
  }

  .drone5 {
    width: 100vw;
    height: 835px;
    margin-top: 150px;
  }

  .card2 {
    width: 100vw;
    height: 835px;
    background-color: #ffffff;
  }

  .rectangle-card2 {
    position: relative;
    margin-top: 25px;
    margin-left: 37%;
    height: 2px;
    width: 100px;
    background-color: #060606;
  }

  .card2-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .text-center {
    text-align: center;
    margin-top: 10px;
    background-color: #F8F8F8;
  }

  h4 {
    margin-top: 40px;
    font-weight: 10;
    font-size: 35px;
    font-family: "Inter";
  }

  input[type=text] {
    display: inline;
    border-style: none;
    padding: 20px;
    width: 300px;
    margin-top: 25px;
  }

  .p1 {
    margin-top: 10px;
  }

  button [type=submit] {
    margin-top: 25px;
  }
  h4 {
    margin-top: 40px;
    font-weight: 10;
    font-size: 25px;
    font-family: "Inter";
  }

  /* Footer */

  .footer {
    position: relative;
    background-color: #ffffff;
    height: 110px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
  }

  .column {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }

  .left p,
  .right p {
    margin: 5px 0;
    padding: 0 20px;
  }
}
